<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    
    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>17.06.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ratione aspernatur, cum exercitationem minus a perspiciatis accusamus inventore eaque quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ratione aspernatur, cum exercitationem minus a perspiciatis accusamus inventore eaque quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ratione aspernatur, cum exercitationem minus a perspiciatis accusamus inventore eaque quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ratione aspernatur, cum exercitationem minus a perspiciatis accusamus inventore eaque quos.</p>
  </div>
</div>
